<include file="Public/header" />
<form method="post" action="{:U('admin/tag/update_submit')}">
    <div>
       <span>
           <label for="tag_name">标签名</label>
       </span>
        <input type="hidden" name="tid" value="{$cat['tid']}">
        <span>
            <input id="tag_name" name="tag_name" value="{$cat['tag_name']}"/>
        </span>
    </div>
    <div>
        <span>
            <label for="clicks">点击量</label>
        </span>
        <span>
            <input id="clicks" name="clicks" value="{$cat['clicks']}"/>
        </span>
    </div>
    <div>
        <span>
            <label for="order">排序号</label>
        </span>
        <span>
            <input id="order" name="order" value="{$cat['ord']}">
        </span>
    </div>
    <div>
        <span>
            <label for="shown1">是否显示</label>
        </span>
        <span>
            <input type="radio" {$cat['checkedyes']} id="shown1" name="shown" value="1">是
            <input type="radio" {$cat['checkedno']} id="shown2" name="shown" value="0">否
        </span>
    </div>
    <div>
        <input type="submit" value="提交">
    </div>

</form>

<include file="Public.footer" />