<include file="Public/header" />
<form method="post" action="{:U('admin/article/update_submit')}">
    <div>
       <span>
           <label for="title">文章名</label>
       </span>
        <input type="hidden" name="aid" value="{$cat['aid']}">
        <span>
            <input id="title"  required name="title" value="{$cat['title']}"/>
        </span>
    </div>
    <div>
        <span>
            <label for="author">作　者</label>
        </span>
        <span>
            <input id="author" name="author" value="{$cat['author']}"/>
        </span>
    </div>
    <div>
        <span>
            <label for="parent">文章分类</label>
        </span>
        <span>
            <select id="parent" name="cid">
                <option value="0">无</option>
                <volist id="cate" name="catelist">
                    <option value="{$cate['cid']}">{$cate['cate_name']}</option>
                </volist>
            </select>
        </span>
    </div>
    <div>
        <span>
            <label for="content">内　容</label>
        </span>
        <span>
            <textarea   id="content" name="content"  >{$cat['content']}</textarea>
        </span>
    </div>
    <div>
        <span>
            <label for="order">排序号</label>
        </span>
        <span>
            <input id="order" name="order" value="{$cat['ord']}">
        </span>
    </div>
    <div>
        <span>
            <label for="shown1">是否显示</label>
        </span>
        <span>
            <input type="radio" {$cat['checkeyes']} id="shown1" name="shown" value="1">是
            <input type="radio" {$cat['checkedno']} id="shown2" name="shown" value="0">否
        </span>
    </div>
    <div>
        <input type="submit" value="提交">
    </div>

</form>

<include file="Public.footer" />